* {
	font-family: monospace;
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(#6fb7ff, #a4b5ff);
	background-repeat: no-repeat;
	height: 160vh;
	width: 100%;
}

.checkerboard {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
	border-spacing: 0;
}

.square-black {
	background-color: black;
	padding: 0;
	height: 100px;
	width: 100px;
	border: solid black;
}

.square {
	background-color: white;
	padding: 0;
	height: 100px;
	width: 100px;
	border: solid white;
}
